@import '~@axieinfinity/matcha/dist/styles/scss/root';
@import '~@axieinfinity/matcha/dist/styles/scss/reboot';
@import '~@axieinfinity/matcha/dist/matcha.css';
@import './override.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  border-color: var(--mc-border-secondary-default);
}

body {
  font-family: var(--font-work-sans);
}

.shiki,
.shiki span {
  background-color: transparent !important;
}
